
@{
    ViewBag.Title = "profile";
}





<body>
    <script language="javascript" type="text/javascript">
        var w;
        window.onload = function () {
            var JObject = JSON.parse(localStorage.getItem("user"));
            if (JObject != undefined) {
                w = JObject[1].tid;
            }



    var y = "@ViewBag.detailsid";

    var x = 'http://localhost:56412/api/teachers/'+ w;



    $.ajax({
    url: x,
    type: 'GET',

    dataType: "json",
    contentType: 'application/json; charset=utf-8',

    success: function (data) {

    console.log(data);
    
    document.getElementById('tid').innerHTML = data.tid;
    document.getElementById('fname').innerHTML = data.tfname;
    document.getElementById('lname').innerHTML = data.tlname;
    document.getElementById('gender').innerHTML = data.gender;
    document.getElementById('email').innerHTML = data.email;

    },
    error: function () {
    alert("error");
    }
    });



    }

</script>


    <div class="wrapper company-profile">


        <div class="main clearfix">
            
            <div class="content">
                <div class="post about">
                    <div class="post-header">
                        <h2>My Profile</h2>
                       
                    </div>

                    <table>
                        <tr>
                            <th>First Name</th>
                            <td><textarea id="fname" name="fname"  style="float:right; width:300px; height:30px; background-color:#B7DBFF; font-size:16px;"></textarea></td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td><textarea id="lname" name="lname" style="float:right; width:300px; height:30px; background-color:#B7DBFF; font-size:16px;"></textarea></td>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <td><textarea id="tid" name="tid" style="float:right; width:300px; height:30px; background-color:#B7DBFF; font-size:16px;"></textarea></td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td><textarea id="gender" name="gender" sstyle="float:right; width:300px; height:30px; background-color:#B7DBFF; font-size:16px;"></textarea></td>
                        </tr>
                        <tr>
                            <th>E-mail</th>
                            <td><textarea id="email" name="email" style="float:right; width:300px; height:30px; background-color:#B7DBFF; font-size:16px;"></textarea></td>
                        </tr>
                        
                    </table>
                </div>
            </div>
            <aside class="sidebar">
        

            </aside>
        </div>


    </div>

</body>

