
@{
    ViewBag.Title = "Details";
}

<body>
    <script language="javascript" type="text/javascript">
        var w;
        window.onload = function () {
            var JObject = JSON.parse(localStorage.getItem("user"));
            if (JObject != undefined) {
                w = JObject[1].stid;
            }


            var y = "@ViewBag.detailsid";
            alert(y);
            var x = ' http://localhost:56412/api/payments1/'+ w ;

            

                $.ajax({
                    url: x,
                    type: 'GET',

                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',

                    success: function (data) {

                        console.log(data);
                        document.getElementById('st_id').innerHTML = data.st_id;
                        document.getElementById('year').innerHTML = data.year;
                        document.getElementById('grade').innerHTML = data.grade;
                        document.getElementById('state').innerHTML = data.statement;
                        document.getElementById('description').innerHTML = data.description;
                        document.getElementById('Amount').innerHTML = data.amount;

                    },
                    error: function () {
                        alert("error");
                    }
                });



        }


    </script>
    <div class="wrapper user-profile">

       
        <div class="main clearfix">
            <div class="content">

                <div class="post edit-company">
                    <div class="post-header">
                        <h2>School Fees</h2>
                       
                    </div>

                    <table>
                        <tr>
                            <th>Index Number</th>
                            <td><textarea style="float:right; width:300px; height:30px; background-color:#B7DBFF; font-size:16px;" id="st_id" placeholder="Index Number"></textarea></td>
                        </tr>
                        <tr>
                            <th>Year</th>
                            <td><textarea id="year" required placeholder="Year"  style="float:right; width:300px; height:30px; background-color:#B7DBFF; font-size:16px;"></textarea></td>
                        </tr>
                        <tr>
                            <th>Grade</th>
                            <td><textarea id="grade" required placeholder="Grade" style="float:right; width:300px; height:30px; background-color:#B7DBFF; font-size:16px;" ;></textarea></td>
                        </tr>
                        <tr>
                            <th>Amount</th>
                            <td><textarea id="Amount" required placeholder="Amount"style="float:right; width:300px; height:30px; background-color:#B7DBFF; font-size:16px;" ;></textarea></td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td><textarea id="state" required placeholder="state" style="float:right; width:300px; height:30px; background-color:#B7DBFF; font-size:16px;" ;"></textarea></td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td><textarea id="description" name="Discription" required placeholder="Discription" style="float:right; width:300px; height:30px; background-color:#B7DBFF; font-size:16px;" ; type="text"></textarea></td>
                        </tr>
                        
                    </table>

                   
                </div>
               
        </div>
      
    </div>
    
</body>




