<!--STUDENT NEWS EDIT-->

@{
    ViewBag.Title = "News Edit(student) - Student Management System";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}


<script language="javascript" type="text/javascript">

    window.onload = function () {

        var y = "@ViewBag.detailsid";

        var x = 'http://localhost:56412/api/news/getnews/' + y;
        var t_id, st_id;

        $.ajax({
            url: x,
            type: 'GET',

            dataType: "json",
            contentType: 'application/json; charset=utf-8',

            success: function (data) {

                console.log(data);
                t_id = data.t_id;
                st_id = data.st_id;
                document.getElementById('date').innerHTML = data.n_date;
                document.getElementById('headline').innerHTML = data.headiline;
                document.getElementById('description').innerHTML = data.discription;
                document.getElementById('st_name').innerHTML = data.st_name;
            },
            error: function () {

            }
        });


        var currentdate = new Date();


        var datetime = currentdate.getFullYear() + "/"
                        + (currentdate.getMonth() + 1) + "/"
                        + currentdate.getDate() + " "
                        + currentdate.getHours() + ":"
                        + currentdate.getMinutes() + ":"
                        + currentdate.getSeconds();


        document.getElementById('date').innerHTML = datetime;
        document.getElementById('date2').innerHTML = datetime;




        $.validator.setDefaults({
            submitHandler: function () {




                document.getElementById("submit").onclick = function () {

                    var para = '?id=' + y + '&n_date=' + $('#date').val() + '&t_id= ' + t_id + '&st_id= ' + st_id + '&headiline= ' + $('#headline').val() + '&discription= ' + $('#description').val() + ' &isConfirm=no' + '&st_name= ' + $('#st_name').val();


                    $.ajax({
                        dataType: 'json',
                        contentType: 'application/json',
                        type: 'GET',


                        url: 'http://localhost:56412/api/news/Getnews' + para,


                        success: function (data) {

                            window.location = "http://localhost:56448/Student/News_view";


                        },
                        error: function () {
                        }



                    });
                }



                //alert("submitted!");
            }
        });

        $().ready(function () {
            $("#signupForm").validate({
                rules: {
                    st_name: "required",
                    headline: {
                        required: true,
                        minlength: 10,
                        maxlength: 100
                    },

                    description: {
                        required: true,
                        minlength: 100,
                        maxlength: 8000
                    },


                },
                messages: {
                    st_name: "Please enter your name",
                    headline: {
                        required: "Please provide a headline",
                        minlength: "Your headline must be at least 10 characters long"
                    },
                    description: {
                        required: "Please provide a description",
                        minlength: "Your description must be at least 100 characters long"
                    },


                }
            });
        });



    }


</script>



<div class="header-nav1">
    <div class="wrap">

        <div class="search-bar">

        </div>
    </div>

    <!-- End-Header-->
    <div class="clear"> </div>
    <!-- content-gallery-->
</div>
<div class="wrap">
    <div style="border:none;" class="about">

        <div class="contact-form">
            <h4>EDIT YOUR NEWS</h4>
            <form id="signupForm">

                <div>
                    <span><label id="date2"></label></span>
                </div>
                <div style="display:none">
                    <span><textarea id="date"> </textarea></span>
                </div>

                <div>
                    <span><label>student name</label></span>
                </div>

                <input id="st_name" type="text" name="st_name" />

                <div>
                    <span><label>headline</label></span>
                </div>
                <input id="headline" type="text" name="headline" placeholder="below 100 characters" />
                <div>
                    <span><label>description </label></span>
                </div>
                <textarea id="description" name="description"></textarea>

                <div>
                    <span><label>uplode image</label></span>
                    <span><input type="file" id="files" /></span>
                </div>


                <div style="float:right">
                    <button type="submit" id="submit">Save</button>
                </div>
                <!--
                <input type="button" class="btn btn-warning" value="Save" id="submit" />
                <a href="#" class="myButton" id="submit">Submit</a>
                <span><input id="submit" type="submit" value="Submit"></span>           -->


            </form>
        </div>

        <!-- DC Pagination:C9 End -->
    </div>
</div>

<div class="clear"> </div>
<!-- End-content-gallery-->
<!-- DC Pagination:C9 Start -->
<div class="wrap">

</div><br><br>