
@{
    ViewBag.Title = "student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--<![endif]-->
<body>

    <script language="javascript" type="text/javascript">
        var w;
        window.onload = function () {
            var JObject = JSON.parse(localStorage.getItem("user"));
            if (JObject != undefined) {
                w = JObject[1].stid;
            }


            var y = "@ViewBag.detailsid";

            var x = 'http://localhost:56412/api/students/'+ w;



                $.ajax({
                    url: x,
                    type: 'GET',

                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',

                    success: function (data) {

                        console.log(data);
                        document.getElementById('name').innerHTML = data.st_name;
                        document.getElementById('sid').innerHTML = data.stid;
                        document.getElementById('year').innerHTML = data.st_year;
                        document.getElementById('gender').innerHTML = data.st_gender;
                        document.getElementById('bdy').innerHTML = data.st_bdy;
                        document.getElementById('address').innerHTML = data.st_address;

                    },
                    error: function () {
                        alert("error");
                    }
                });



        }


    </script>

    <div class="wrapper company-profile">

        <div class="main clearfix">
           
            <div class="content">
                <div class="post about">
                    <div class="post-header">
                        <h2>My Profile</h2>

                    </div>

                    <table>
                        <tr>
                            <th>Name</th>
                            <td><textarea id="name" name="name" placeholder="Student Name" style="float:right; width:300px; height:30px; background-color:#B7DBFF; font-size:16px;"></textarea></td>
                        </tr>
                        <tr>
                            <th>Index Number</th>
                            <td><textarea id="sid" name="sid" placeholder="Index Number"style="float:right; width:300px; height:30px; background-color:#B7DBFF; font-size:16px;"></textarea></td>
                        </tr>
                        <tr>
                            <th>Grade</th>
                            <td><textarea id="year" name="year" placeholder="Grade" style="float:right; width:300px; height:30px; background-color:#B7DBFF; font-size:16px;"></textarea></td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td><textarea id="gender" name="gender" placeholder="Gender" style="float:right; width:300px; height:30px; background-color:#B7DBFF; font-size:16px;"></textarea></td>
                        </tr>
                        <tr>
                            <th>Birth Day</th>
                            <td><textarea id="bdy" name="bdy" placeholder="Birth Day" style="float:right; width:300px; height:30px; background-color:#B7DBFF; font-size:16px;"></textarea></td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td><textarea id="address" name="address" placeholder="Address" style="float:right; width:300px; height:30px; background-color:#B7DBFF; font-size:16px;"></textarea></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>  
    <!-- .wrapper -->
</body>



