
@{
    ViewBag.Title = "markorview";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


 



<body>

 
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">E SCHOOL</a>
            </div>
           
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            </div>
          
        </div>
       
    </nav>

  
    <div class="container">

      
        <div class="row">
            <div class="col-lg-12">
                <br /><br /><br />
                <h1 class="page-header">
                    Welcome
                    <small>It's Nice day!</small>
                </h1>

            </div>
        </div>

      
        <div class="row">
            <br><br><br>


                <div class="col-lg-10">
                    <div class="col-lg-5 col-sm-5 text-center">
                            <a href="http://localhost:56448/attendance/index">
                            <img class="img-circle img-responsive img-center" src="~/Content/images/45.jpg" alt="">
                            </a>
                            <h3>
                                Mark Attendance

                            </h3>

</div>

                    <div class="col-lg-5 col-sm-5 text-center">
                        <a href="http://localhost:56448/attendance/Details">
                             <img class="img-circle img-responsive img-center" src="~/Content/images/1.png" alt=""><br>
                            </a>
                            <h3>
                                View Attendance

                            </h3>
</div>
                </div>



            </div>
        <hr>

       

    </div>
    
    

</body>


