
@{
    ViewBag.Title = "download";
}

<body> 
    <form method="post"style="height:610px" >
        <br>    <br>    <br><br>    <br>    <br>
      
        <center>    <h1>   Download your android applications   </h1>        </center>
        <center>    <button style="width:100px;height:40px;background-color:lightgreen">Download             </button>    </center>
</form>
</body>


